extends typescript
# ---------------------------------------------------------
# TypeScript

snippet rp "Create React props interface"
interface Props {
  ${1:prop}: ${2:type};
}
endsnippet

# ---------------------------------------------------------
# React

snippet rfc "Create a React component"
export default (${1:props}) => {
  return (
    <>
      ${2:component}
    </>
  );
}
endsnippet
