extends typescript
# ---------------------------------------------------------
# TypeScript

snippet rp "Create React props interface"
interface Props {
  ${1:prop}: ${2:type};
}
endsnippet

# ---------------------------------------------------------
# React

snippet rfc "Create a React component"
const ${1:ComponentName} = (${2:props}) => {
  return (
    ${3:component body}
  );
}

export default ${1:ComponentName};
endsnippet
